/**
 * 鎿嶄綔鏉�
 */

.link_btn_bar {
	border: 1px solid #d5d5d5;
	background-color: #fff;
	float: left;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	margin-bottom: 10px;
}

.link_btn_bar .btn-group-sm a {
	line-height: auto;
	min-height: auto
}

.link_btn_bar a {
	float: left;
	padding: 4px 15px 5px;
	line-height: 20px;
	border-right: 1px solid #ddd;
	color: #333;
	font-size: 1.4rem;
	cursor: pointer;
	min-height: 30px
}

.link_btn_bar a:hover {
	background-color: #f5f5f5
}

.link_btn_bar a.active {
	background-color: #f5f5f5
}

.link_btn_bar a i {
	float: left;
	font-size: 1.5rem;
	vertical-align: baseline;
	margin: 4px 5px 0 0;
	color: #333
}

.link_btn_bar a:last-child {
	border-right: 0
}

.fz-15 {
	font-size: 1.6rem !important;
}


/**
 * 鏌ヨ鏉�
 */

.select-btn-box {
	width: 152px;
	display: table-cell;
	vertical-align: middle;
	padding: 11px 0 0 20px;
}

.select-op-1 {
	float: left;
	border-bottom: 1px solid #e3e3e3;
	width: 100%;
	display: table;
	padding-bottom: 15px;
	padding-top: 15px;
}

.select-op-1 .select-options {
	display: table-cell;
	border-right: 1px solid #e3e3e3;
	width: calc(100% - 152px);
}

.select-op-1 .select-options .select-group {
	padding: 0 20px 0 0;
	float: left
}

.select-op-1 .select-options .select-group:first-child {
	padding-left: 0
}

.select-op-1 .select-options .select-group .select-to {
	float: left;
	width: 40px;
	text-align: center;
	margin-top: 6px;
	line-height: 30px
}

.select-op-1 .select-options .select-group .select-time {
	width: calc((100% - 40px) / 2);
	margin-top: 2px;
	float: left
}

.select-op-1 .select-btn-box {
	width: 152px;
	display: table-cell;
	vertical-align: middle;
	padding: 11px 0 0 20px
}

.select-op-1 .select-options .select-group .spanlable {
	float: left;
	width: 100%;
	margin-bottom: 7px;
	margin: 2px 0 1px
}

.push-up-15 {
	margin-bottom: 15px !important;
}

.padding-0 {
	padding: 0 !important;
}