<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hellojava.dao.IUserDao">
    <select id="loadAll" resultType="user">
        select user_id,userName,password,age,birthday,address from users
    </select>
    <delete id="delete" parameterType="int">
        delete from users where user_id=#{id}
    </delete>
    <select id="loadById" resultType="user" parameterType="int">
        select user_id,userName,password,age,birthday,address from users where user_id=#{id}
    </select>
    <update id="update" parameterType="user">
        update users set userName=#{userName},password=#{password},age=#{age},address=#{address} where user_id=#{user_id}
    </update>
    <insert id="add" parameterType="user">
        insert into users(userName,password,age,birthday,address) values(#{userName},#{password},#{age},#{birthday},#{address})
    </insert>
    <delete id="deletepl" parameterType="list">
        delete from users
        <where>
            user_id in
            <foreach collection="list" item="ids" separator="," open="(" close=")">
                #{ids}
            </foreach>
        </where>
    </delete>
</mapper>